<% if @user.admin %>
  <h1>"ADMIN"</h1>
<% end %>

<p>Name: <%= @user.name %></p><br>
<p>Tickets: <%= @user.tickets %></p><br>
<p>Mood: <%= @user.mood %></p><br>
<p>Nausea: <%=@user.nausea%><br></p>
<p>Height: <%= @user.height %></p><br>

<%= link_to "See attractions", attractions_path %>