<label>Name:</label> 
<%= f.text_field :name %><br>

<label>Ticket Requirement:</label> 
<%= f.text_field :tickets %><br>

<label>Height Requirement:</label> 
<%= f.text_field :min_height %><br>

<label>Nausea Rating:</label>
<%= f.text_field :nausea_rating %><br>

<label>Happiness Rating:</label>
<%= f.text_field :happiness_rating %><br>

<%= f.submit %>