<h1>Attractions</h1>
<<<<<<< HEAD
=======

>>>>>>> cddbabe1fad9edc84876235d7731947c904679b9
<% @attractions.each do |attraction| %>
  <%= attraction.tickets %>
  <%= attraction.nausea_rating %>
  <%= attraction.happiness_rating %>
  <%= attraction.min_height %>

<<<<<<< HEAD
  <% if current_user.admin %>
    <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
  <% else %>
=======
  <% if @user.admin%>
    <li><%= link_to "#Show {attraction.name}", attraction_path(attraction) %></li>
  <% else %>  
>>>>>>> cddbabe1fad9edc84876235d7731947c904679b9
    <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
  <% end %>
<% end %>

<<<<<<< HEAD
<%= link_to "New Attraction", new_attraction_path %>
=======
<% if @user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>
>>>>>>> cddbabe1fad9edc84876235d7731947c904679b9
